@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Public Sans', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Primary */

  --clr-dark-blue: hsl(233, 26%, 24%);
  --clr-lime-green: hsl(136, 65%, 51%);
  --clr-bright-cyan: hsl(192, 70%, 51%);

  /* Neutral  */

  --clr-grayish-blue: hsl(233, 8%, 62%);
  --clr-light-grayish-blue: hsl(220, 14%, 96%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.555;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-40);
  line-height: 1.175;
  font-weight: var(--fw-light);
}

.title--m {
  font-size: var(--fs-32);
  margin: 0 auto;
}

.title--s {
  font-size: var(--fs-20);
}

.text {
  font-size: var(--fs-15);
  color: var(--clr-grayish-blue);
}

.card__author {
  font-size: var(--fs-10);
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-light);
}

.card__title {
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
}

.card__text {
  font-size: var(--fs-13);
  color: var(--clr-grayish-blue);
}

.copyright-text {
  font-size: var(--fs-15);
  color: var(--clr-white);
}

.footer__signature {
  font-size: var(--fs-12);
  color: var(--clr-white);
}

/* ================== */
/* Links */
/* ================== */

.nav-link:link {
  color: var(--clr-dark-blue);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.4;
}

.footer__link:link,
.footer__link:visited {
  color: var(--clr-white);
  font-size: var(--fs-15);
  letter-spacing: -0.23px;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--clr-lime-green);
}

.social-link:hover path,
.social-link:visited path {
  fill: var(--clr-lime-green);
}

.signature-link {
  color: var(--clr-white);
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
}

.signature-link:hover,
.signature-link:focus {
  color: var(--clr-lime-green);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  font-weight: var(--fw-bold);
  font-size: var(--fs-14);
  background: linear-gradient(
    to bottom right,
    var(--clr-lime-green),
    var(--clr-bright-cyan)
  );
  color: var(--clr-white);
  text-decoration: none;
  padding: 0.85em 2.25em;
  display: inline-block;
  border-radius: 2em;
}

.btn:hover,
.btn:focus {
  opacity: 0.6;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
}

.container {
  padding: 0 1.5em;
  max-width: 475px;
  margin: 0 auto;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */

.header {
  padding-top: 1.375em;
  padding-bottom: 1.375em;
}

.header__row {
  padding: 0 1.5em;

  /* Flex */
  display: flex;
  place-content: center space-between;
}

.header__row .logo {
  padding-top: 0.2em;
}

.open-nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav {
  display: none;
}

/* MAIN */

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  place-content: center;

  padding-bottom: 5.5em;
}

.hero__illus-area {
  order: -1;

  overflow: hidden;

  background: url('./images/bg-intro-mobile.svg') no-repeat;
  background-size: cover;
  background-position: 100% -80px;
}

.hero__illus-area img {
  transform: translateY(-30%) scale(0.95);
}

.hero__copy-area {
  margin-top: -8em;
}

.hero__copy-area .text {
  margin-top: 1em;
}

.hero__copy-area .btn {
  margin-top: 2em;
}

/* Features */
.features {
  background: var(--clr-light-grayish-blue);
  padding-top: 4em;
  padding-bottom: 4em;

  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 3.5em;
}

.features__copy .text {
  margin-top: 1em;
}

.features__list {
  list-style: none;

  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 2em;
}

.feat .title {
  margin-top: 1.5em;
}

.feat .text {
  margin-top: 1em;
}

/* Articles */
.articles {
  padding-top: 5.5em;
  padding-bottom: 5.5em;

  background: var(--clr-very-light-gray);
}

.articles__list {
  margin-top: 2em;
  list-style: none;

  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1.5em;
}

.card__img img {
  border-radius: 0.5em 0.5em 0 0;
}

.card__copy {
  padding: 1.5em 1.75em 2.5em;
  text-align: left;

  background: var(--clr-white);

  border-radius: 0 0 0.5em 0.5em;
}

.card__title,
.card__text {
  margin-top: 0.5em;
}

/* FOOTER */

.footer {
  background: var(--clr-dark-blue);
}

.footer__elements {
  padding: 2.5em 4em;

  display: grid;
  grid-template-rows: 1fr;
  gap: 2em;
}

.footer__logo #logo-text {
  fill: var(--clr-white);
}

.socials-list {
  display: flex;
  place-content: center;
  gap: 1em;

  list-style: none;
}

.footer__list li {
  margin-bottom: 0.5em;
}

.copyright-text {
  opacity: 0.5;
}

.footer__signature {
  padding-bottom: 0.5em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* pre-Tablet */
@media (min-width: 575px) {
  .hero__illus-area img {
    transform: translateY(-20%) scale(0.95);
  }
}

/* Tablet */
@media (min-width: 768px) {
  /* Typography */
  .title {
    font-size: var(--fs-56);
  }

  .title--m {
    font-size: var(--fs-40);
  }

  .title--s {
    font-size: var(--fs-20);
  }

  .text {
    font-size: var(--fs-18);
  }

  .feat .text {
    font-size: var(--fs-16);
  }

  /* SECTIONS */

  .hero__illus-area img {
    transform: translateY(-20%) scale(0.95);
    margin: 0 auto;
    padding-bottom: 3em;
  }

  .hero__copy-area {
    margin-top: 0em;
  }
}

/* Laptop */
@media (min-width: 1130px) {
  body {
    text-align: left;
  }

  /* Utility styles */
  .container {
    padding: 0 4.5em;
    max-width: unset;
  }

  /* SECTIONS */

  /* Header */
  .header__row {
    padding: 0 4.5em;
  }

  /* Hero */

  .hero {
    flex-direction: row;

    padding-bottom: unset;
  }

  .hero__copy-area {
    margin-top: unset;
    padding: 0;

    width: 100%;

    flex: 1;
  }

  .hca__content {
    margin: 10.5em 4.5em 0;
    max-width: 450px;
  }

  .hero__copy-area .text {
    margin-top: 1.5em;
  }

  .hero__copy-area .btn {
    margin-top: 2.75em;
  }

  .hero__illus-area {
    order: unset;

    overflow: hidden;

    background: url('./images/bg-intro-desktop.svg') no-repeat;
    background-size: cover;
    background-position: -55px -200px;

    /* Trick to make the background image overflow */
    padding-left: 50px;
    margin-left: -50px;

    width: 100%;
    flex: 1;
  }

  .hero__illus-area img {
    transform: translate(17%, -12%) scale(1.2);

    padding-bottom: unset;
  }

  /* Features */
  .features {
    margin-top: -10em;
    padding-bottom: 5.875em;
    /*Flex */
    gap: 4.5em;
  }

  .features__copy {
    padding: 0;
    margin: 6em 4.5em 0;
    max-width: 645px;
  }

  .features__list {
    margin: 0em 4.5em 0;
    padding: 0;

    flex-direction: row;
  }

  /* Articles */
  .articles {
    padding: 5.5em 4.5em;
  }

  .articles__list {
    flex-direction: row;
  }

  .card__img img {
    height: 200px;
  }

  /* Footer */
  .footer {
    padding: 3em 4.5em 0.5em;
  }

  .footer__elements {
    padding: unset;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10em;
  }

  .footer__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer__socials {
    grid-column: 1 /2;
    grid-row: 2/ 3;
    justify-self: start;
    align-self: start;
  }

  .footer__links {
    grid-column: 2 /4;
    grid-row: 1/ 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer__cta {
    grid-column: 4 /5;
    grid-row: 1/ 2;

    justify-self: end;
  }

  .footer__copyright {
    grid-column: 4 /5;
    grid-row: 2/ 3;

    justify-self: end;
  }

  .footer__signature {
    margin-top: 5em;
    text-align: center;
  }
}
